body {
  background-color: #665687;
  font-family:system-ui;
  color: #acfcd9;
  text-align: center;
}

h1 {
  font-size: 64px;
  color: #190933;
  text-align: center;
  background-color: #acfcd9;
  border: 2px solid;
  border-color: #190933;
  font-weight: bold;
}

td, th {
	border: 2px solid;
  border-color: #190933;
  color: #190933;
  text-align: center;
  font-size: 28px;
  font-family: monospace;
}

#planets {
  text-align: center;
  background-color: #b084cc;
  border: 6px solid;
  border-color: #190933;
  border-collapse: collapse;
  margin: auto;
  margin-top: 40 px;
  width: 80%;
  height: 600px;
}

html {
  background-color: #b084cc;
}