body {
  background-color: #665687;
  font-family: monospace;
  color: #acfcd9;
  text-align: center;
}

h1 {
  font-size: 64px;
  color: #190933;
  background-color: #acfcd9;
  border: 2px solid;
  border-color: #190933;
  font-weight: bold;
}

td, th {
  border: 2px solid;
}

#planets {
  background-color: #b084cc;
  border: 6px solid;
  border-collapse: collapse;
  margin: auto;
  width: 80%;
  height: 600px;
  color: #190933;
  font-size: 28px;
}