td, th {
	border: 2px solid;
  border-color: #190933;
  color: #5dd9c1;
  text-align: center;
  font-size: 28px;
}

h1 {
  font-size: 64px;
  color: #190933;
  text-align: center;
}

p {
  color: #190933;
}

.col1 {
  font-weight: bold;
}

.row1 {
  font-weight: bold;
}

table {
  border: 6px solid;
  text-align: center;
  background-color: #acfcd9;
}

html {
  background-color: #b084cc;
}